/******************************************************************************
FSWD:  Christopher B. Zenner
Date:  02/29/2020
File:  style.css
Ver.:  0.1.0 20200301
       0.2.0 20200302

This CSS specifies the layout and style for the basic portfolio site of the
FSWD.
*******************************************************************************/

/* Debug */
/* { border: 1px solid red !important; }
   { border: 1px solid orange !important; }
   { border: 1px solid yellow !important; }
   { border: 1px solid green !important; }
   { border: 1px solid blue !important; }
   { border: 1px solid purple !important; }
*/

/******************************************************************************
 Global Elements
*******************************************************************************/
* {
  /* Make widths static */
  box-sizing: border-box;
}

body {
  background: #eee;
  color: #666;
  font-family: 'Open Sans', sans-serif;
}

/******************************************************************************
 Bootstrap Components
*******************************************************************************/
.jumbotron {
  /* background: #4aaaa5; */
  background: #2d918e;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #eee;
  margin-bottom: 0;
  padding: 2rem; /* Bootstrap override */
}

.fixed-bottom {
  border-top: 5px #138580 solid;
  height: 10vh;
}

/******************************************************************************
 Navigation Elements
*******************************************************************************/
a, a:active, a:hover, a:visited {
  color: #75cac7;
  font-weight: 600;
}

/******************************************************************************
 Header Elements
*******************************************************************************/
header .container {
  padding: 1vw;
}

h1 {
  font: bold 2.75rem 'Underdog', fantasy;
}

h1::before {
  content: url("../images/dog-paw-icon-138580.png") " ";
}

h1::after {
  content: " " url("../images/dog-paw-icon-138580.png");
}

h2 {  
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

/******************************************************************************
 Primary Content Elements
*******************************************************************************/
main.container {
  /* TODO: Figure this out! (03/03/2020) */
  margin-bottom: 12vh;
}

main .container-md {
  padding: 0 auto;
}

main #winning-prize-container {
  padding: 0;
}

main .photo-box {
  position: relative;
}

.photo-label {
  /* background: #4aaaa5;
  color: #fff; */
  background: #fff;
  bottom: 0.3125rem;
  color: #138580;
  display: block;
  left: 12%;
  opacity: 65%;
  padding: 0.625rem 0;
  position: absolute;
  text-align: center;
  width: 76%;
}

main #winning-prize-container img {
  /* width: 20vw; */
  width: 76%;
}

main figcaption {
  font-size: 0.75rem;
  font-weight: 600;
  margin-top: 2vh;
}

/* TODO: Explore ways to display details info aesthetically. (03/02/2020) */
main details {
  visibility: hidden;
}

main details open {
  background: #eee;
  border-radius: 4px;
  color: #666;
  padding: 1vh 0;
  visibility: hidden;
  z-index: 1000;
}

main details > p {
  font-size: 1rem;
  visibility: hidden;
}

main .game-board-container h2 {
  color: #fff;
}

main #mystery-word,
main #letters-guessed {
  font: 700 1.75rem Inconsolata, monospace;
  letter-spacing: 0.1875rem;
  margin: 10vh auto;
}

main #letters-guessed {
  margin: 0 auto;
}

main #game-feedback {
  background: #eee;
  border-radius: 4px;
  color: #666;
  margin-bottom: 4vh;
  padding: 1vh 0;
}

main .loss {
  color: #d81e23 !important;
}

main .win {
  color: #138580 !important;
}

#play-again > button:active,
#play-again > button:hover {
  color: #666;
}

main #guesses-remaining,
main #player-wins {
  font-size: 1.5rem;
}

main .player-wins-container,
main .guesses-remaining-container {
  padding: 2vh 0;
}

main .player-wins-container {
  background: #75cac7;
  border-bottom-left-radius: 6px;
}

main .guesses-remaining-container {
  background: #ade6e4;
  border-bottom-right-radius: 6px;
}

main .letters-guessed-container {
  padding: 2vh 0;
}

/******************************************************************************
 Footer Elements
*******************************************************************************/
footer {
  background: #666;
  color: #fff;
}

footer #copyright {
  font-size: 0.625rem;
  font-weight: 600;
  margin: 1vh 0;
}

footer #attribution {
  font-size: 0.5625rem;
}